.logo {
    width: auto;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
}
h2.lctext {
    text-align: center;
    font-size: 3rem;
}